<div class="row clearfix" style="padding-left:10px;padding-right:10px;">
                                <div class="col-md-3 column" ng-click="navpage('intovan');">
                                    <div class="feature-box">
                                        <span class="feature-icon"><i class="fa fa-truck" aria-hidden="true"></i></span>
                                        <h4 style="padding-top:10px;">Receive into VAN </h4>
                                    </div>
                                </div>
                                <div class="col-md-3 column" ng-click="navpage('intooutlet');">
                                    <div class="feature-box">
                                        <span class="feature-icon"><i class="fa fa-glass" aria-hidden="true"></i></span>
										    
                                        <h4 style="padding-top:10px;">Receive BAR Items into OUTLET</h4>
                                    </div>
                                </div>
                           <div class="col-md-3 column" ng-click="navpage('intokitchen');">
                                    <div class="feature-box">
                                        <span class="feature-icon"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                                        <h4 style="padding-top:10px;">Receive Kitchen Items into OUTLET</h4>
                                        
                                    </div>
                                </div>
                                
                            </div>